.nav-logo{
    width: 80px;
    height: 80px;
}

/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing h2 {
  font-weight: 400;
}
/* rtl:begin:ignore */
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}
/* rtl:end:ignore */

.feature-img{
     height: 500px;
    width: 500px;
    
						
}

/* Featurettes
------------------------- */

.row.featurette {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  /* rtl:remove */
  letter-spacing: -.05rem;
}

.hero-container {
   //background: url('../img/HeroBackDots.jpg') center center/cover no-repeat;
   //background-color: #D4DDDD;


    height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  //box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
  object-fit: contain;
  //clip-path: polygon(0 0, 100% 0, 100% 73%, 0% 100%);
}

.hero-container > h1 {
  color: rgb(231, 162, 116);
  font-size: 100px;
  margin-top: -100px;
}

.hero-container > p {
  margin-top: 8px;
  color: rgb(126, 124, 124);
  font-size: 32px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

.card{
    width: 18rem;
}

.vision_section {
    background-color: #191970;
    color: #ffffff;
    text-align: justify;
}

.vision_section .row>div {
    margin: 20px 0;

}

.layout_padding2 {
    padding: 45px 0;
     padding-top: 45px;
     padding-bottom: 45px;

     margin-bottom: 45px;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}


@media screen and (max-width: 960px) {
  .hero-container > h1 {
    font-size: 70px;
    margin-top: -150px;
  }
}

@media screen and (max-width: 768px) {
  .hero-container > h1 {
    font-size: 50px;
    margin-top: -100px;
  }
}