.navbar{
    font-family: 'Quicksand', sans-serif;
    background-color: #ffffff !important;
}

.nav-logo{
    width: 85px;
    
}


/*==================================================
                    MARKETING CONTENT
===================================================*/

.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing h2 {
  font-weight: 400;
}
/* rtl:begin:ignore */
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}
/* rtl:end:ignore */

.feature-img{
     height: 500px;
    width: 500px;					
}


/*==================================================
                    Featurettes
===================================================*/

.row.featurette {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  /* rtl:remove */
  letter-spacing: -.05rem;
}

.hero-container {
// background: url('../img/CoverHero.png') center center/cover no-repeat;
height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  object-fit: contain;
  
}

.hero-container >  h1 {
  color:#7D1FC9;
  font-size: 100px;
  margin-top: -100px;
  font-family: 'Quicksand', sans-serif;
}

.hero-container >  p {
  margin-top: 8px;
  color: rgb(97, 96, 96);
  font-size: 32px;
  font-family: 'Quicksand', sans-serif;
}

.hero-container > img {
  width: 400px;
  height: 400px;
}

.card{
    width: 18rem;
}

.card-deck .card-title{
    font-size: 25px;
    font-family: 'Quicksand', sans-serif;
}

.home__demo__title{
    font-family: 'Quicksand', sans-serif;
}

.home__demo__subtitle{
    font-family: 'Quicksand', sans-serif;
     color: #333333;
}

.vision_section {
    background-color: #3B2699;
    color: #ffffff;
    text-align: justify;
}

.vision_section .row>div {
    margin: 20px 0;
}

.vision_section .card-deck{
    color: #1b1b1b;
    
}

.vision_section .card-body{
     
    -webkit-box-shadow: -1px 0px 25px 9px rgba(0, 0, 0, 0.09);
    -moz-box-shadow: -1px 0px 25px 9px rgba(0, 0, 0, 0.09);
    box-shadow: -1px 0px 25px 9px rgba(0, 0, 0, 0.09);
}



.layout_padding2 {
    padding: 45px 0;
     padding-top: 45px;
     padding-bottom: 45px;
     margin-bottom: 45px;
     font-family: 'Quicksand', sans-serif;
}

.jumbotron{
  
   background-color: rgb(48, 25, 151);
   color:#ffffff;

   .h{
       font-family: 'Quicksand', sans-serif;
   }
}

.recongnition_section{
    background-color: #1B2634;
    box-sizing: border-box;

}


/*==================================================
                    HomeDemo
===================================================*/
.img-thumbnail{
    transition: all 0.5s ease-in-out;
    border: none;
    
}
.img-thumbnail:hover{
    animation: pulse 2s infinite;
  animation-timing-function: linear; 
    transform: scale(1.1);
    border: none; 
    border-radius: 50px 0 50px;
}
.home__demo__title{
    font-weight: 500;
    line-height: 1;
    letter-spacing: -.05rem;
    color: #333333;
    font-size: 2.5rem;
}


.about {
    

    .brand{
        font-family: 'Quicksand', sans-serif;
        color:#7D1FC9;
        font-size: 50px;
    }

    p{
        padding-top: 20px;
        font-family: 'Quicksand', sans-serif;
        font-size: 20px;
    }

}

.ourteam{
     font-family: 'Quicksand', sans-serif;

     h2{
         color:rgb(42, 42, 43);
        font-size: 50px;
     }
        
}

.img-aboutus{
     transition: all 0.5s ease-in-out;
    border: none;
}

.img-aboutus:hover{

    transform: scale(1.1);
    border: 3px solid #7D1FC9; 
    border-radius: 50px 0 50px;
}



/*==================================================
                    RESPONSIVE CSS
===================================================*/

@media (min-width: 40em) {

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
  
}

@media screen and (max-width: 960px) {
  .hero-container > h1 {
    font-size: 70px;
    margin-top: -150px;
  }
  
}

@media screen and (max-width: 768px) {
  .hero-container > h1 {
    font-size: 50px;
    margin-top: -100px;
  }
  
}


